@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .no-horizontal-scroll::-webkit-scrollbar {
    height: 0;
  }

  /* Untuk Chrome, Safari, dan Edge */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Untuk Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
